APP_ENV=local
APP_TIER=local
PGHOST=localhost
PGPORT=5432
PGDATABASE=lms_leo
PGUSER=postgres
PGPASSWORD=postgres
LEO_JWT_SECRET=leo-local-dev-secret
HLES_LANDING_VOLUME_PATH=./local-uploads/hles
TRANSLOG_LANDING_VOLUME_PATH=./local-uploads/translog
VITE_USE_LIVE_API=true
